@import 'shared.styl'

.main-header
  font 12px Helvetica, Arial, sans-serif
  color header-color
  margin-bottom 1rem
  border-bottom 1px solid black

.main-body
  margin 1rem 0
  padding 0 1rem
  padding-bottom 1rem
  border-bottom 1px solid black

.main-footer
  margin-top 1rem
